<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="/css/style.css" rel="stylesheet">
    <title>〇×ゲーム</title>
</head>
<body>
    <%- include('header'); %>

    <h1>〇×ゲームへようこそ</h1>
    <a href="/game" class="btn btn--orange">はじめる</a>
    <a href="/user" class="btn btn--orange">ユーザー選択</a>

    <%- include('footer'); %>
</body>
</html>