<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="/css/style.css" rel="stylesheet">
    <title>〇×ゲーム</title>
</head>
<body>
    <%- include('header'); %>

    <h1 class="heading">〇×ゲームへようこそ</h1>
    <form action="/selectuser/1" method="post">
        <input type="submit" value="1人で始める" class="reset inputbtn">
    </form> 
    <form action="/selectuser/2" method="post">
        <input type="submit" value="2人で始める" class="reset inputbtn">
    </form> 
    <a href="/user" class="reset inputbtn">ユーザー一覧</a>

    <!-- <form action="/testcode" method="post">
        <input type="submit" value="testcode">
    </form> -->

    <%- include('footer'); %>
</body>
</html>