/* all */


/* header */
header {
    background-color: rgb(54, 145, 95);
}

/* game */
.game-field{
    display:grid;
    grid-template-rows:200px 200px 200px;
    grid-template-columns:200px 200px 200px;
}
.box {
    font-size: 50px;
    background:white;
    border: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AAA;
    border-radius: 15%;
    margin:5px;
}
.blue{
    background-color: blue;
}
.pink{
    background-color: pink;
}
/* ボタン */
.btn{
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}